@model CustomValidationAttribute.Models.SomeModel
@{
    ViewBag.Title = "Home Page";
}

<head></head>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)
<fieldset>
    <legend>Fields</legend>

    @Html.EditorFor(model => model.NoValidationField)
    @Html.ValidationMessageFor(model => model.NoValidationField, null, new { @class = "text-danger" })
    <br />
    @Html.EditorFor(model => model.RequiredField)
    @Html.ValidationMessageFor(model => model.RequiredField, null, new { @class = "text-danger" })
    <br />
    @Html.EditorFor(model => model.DateTime)
    @Html.ValidationMessageFor(model => model.DateTime, null, new { @class = "text-danger" })

    <p>
        <input type="submit" value="Create" />
    </p>
</fieldset>
}