
@{
    ViewBag.Title = "Vee prototype";
}

<h2>Vee prototype</h2>


@Scripts.Render("~/bundles/vue")
@*@RenderPage("~/Views/Vue/login.cshtml")
@RenderPage("~/Views/Vue/shoppingList.cshtml")
@RenderPage("~/Views/Vue/displayProduct.cshtml")
@RenderPage("~/Views/Vue/editProduct.cshtml")*@
@RenderPage("~/Views/Vee/_main.cshtml")



@*<script src="~/Scripts/Vue/login.js"></script>
<script src="~/Scripts/Vue/shoppingList.js"></script>
<script src="~/Scripts/Vue/displayProduct.js"></script>
<script src="~/Scripts/Vue/editProduct.js"></script>*@
<script src="~/Scripts/Vee/_main.js"></script>
